<div class='card my-3'>
  <div class="card-header">
    <h1>Editing Team Member</h1>
  </div>

  <div class="card-body">
    <%= render 'form', team_member: @team_member %>
  </div>
</div>

<div class="flex my-3">
  <%= link_to 'View', @team_member %> |
  <%= link_to 'Show all team members', team_members_path %>
</div>
